<!DOCTYPE html>
<html lang="en">

	<head>
		<style>
			body {background-color: #add8e6; text-align: center;}
			header {font-size: 50px}
		</style>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<title>Welcome</title>
	</head>

	<body>
		
		<header>
			<h1> Success! </h1>
		</header>

		<p>Your account has been created.</p>
		<p>Please login <a href='/login'> here</a>.</p>

		


		
	</body>

</html>
