<!DOCTYPE html>
<html lang="en">

	<head>
		<style>
			body {background-color: #add8e6; text-align: center;}
			header {font-size: 50px}
		</style>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<title>Welcome</title>
	</head>

	<body>
		
		<header>
			<h1> Welcome </h1>
		</header>

		<p>Hello, </p>

		If you have an account, please <a href='/login'> login </a> <br/>
		Or, you can register <a href='/register'> here </a> <br/>

		
	</body>

</html>
